.repo {
  display: inline-table;

  width: 500px;
  height: 200px;

  padding: 1rem;
  margin: 1rem;

  background-color: #f9f9f9;
  border-radius: 1rem;
}

.repo:hover {
  cursor: pointer;
}

topic-card button {
  display: inline-block;

  margin: 0.2rem 0.1rem;
  padding: 0.2rem 0.7rem;

  border: none;
  border-radius: 1rem;

  color: white;
  background-color: #3f8ed9;

  text-align: center;
  text-decoration: none;
}

language-card button {
  display: inline-block;

  padding: 10px 0;

  border: none;

  background-color: #ddd;

  text-align: center;
  text-decoration: none;
}

language-card button:hover .tooltiptext {
  visibility: visible;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
